/* Universal box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Background setup */
html {
    background-image: url('./images/huawei-mate-9-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.timeline-title {
    margin-top: 75px;
    margin-left: 3rem;
    color: #e6b800;
}

/* Gradient Background */
.bg-lnir {
    background-image: linear-gradient(to right, #8490ff, #a3eeff);
}

::selection {
    color: aliceblue;
    background: #7c9cfe;

}

/* Tools Section */
.tools {
    padding: 40px 50px;
}

/* Progress Bar Styling */
.tools .tools-progres .progres {
    width: 50%;
    float: left;
    position: relative;
    padding-bottom: 60px;
}

.tools .tools-progres .progres:nth-child(odd) {
    padding-right: 20px;
}



.tools .tools-progres .progres:nth-child(even) {
    padding-left: 20px;
}

/* Progress Bar Label */
.tools .tools-progres .progres p {
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: -25px;

    
}

.tools .tools-progres .progres .prog {
    width: 100%;
    background-color: #dddddd;
    border: 3px solid #eeeeee;
    border-radius: 15px;
    height: 14px;
    position: relative;
}

.tools .tools-progres .progres .prog span {

    position: absolute;
    height: 100%;
    width: 50%;
    /* Dynamic */
    border-radius: 15px;
    background-color: #7c9cfe;
    /* Blue */
}

/* Link Button Fix */
a,
p {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 16px;
    background-color: #00000059;
}


/* Beating Text Animation */
@keyframes beat {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

.beat-text {
    display: inline-block;
    color: #25f205;
    animation: beat 2.5s infinite;


}

