* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}




.bg-lnir {
    background-image: linear-gradient(to right, #8490ff, #a3eeff);
}

::selection {
    color: aliceblue;
    background: #7c9cfe;

}

/* Background setup */
html {
    /* background-image: url('/images/huawei-mate-9-luxury-dark-gold-abstract-stock-14-10-2024-1728936550-hd-wallpaper.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    /* Ensures full-screen coverage */
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}

/****************** start tools section *********************/

.tools {
    padding: 40px 50px;
}

.tools .tools-progres .progres {
    width: 50%;
    float: left;
    position: relative;
    padding-bottom: 60px;
}

.tools .tools-progres .progres:nth-child(odd) {
    padding-right: 20px;
}

.tools .tools-progres .progres:nth-child(odd) p {
    right: 20px;
}

.tools .tools-progres .progres:nth-child(even) {
    padding-left: 20px;
}

.tools .tools-progres .progres p {
    float: left;
    font-size: 13px;
    color: #7c9cfe;
    /* system name */
    background-color: #00000059;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: -25px;
    right: 0;

}

.tools .tools-progres .progres .prog {
    width: 100%;
    background-color: #dddddd;
    border: 3px solid #eeeeee;
    border-radius: 15px;
    height: 14px;
    position: relative;
}

.tools .tools-progres .progres .prog span {

    position: absolute;
    height: 100%;
    border-radius: 15px;
}

/* Exprt text section */
a {
    float: left;
    font-size: 13px;
    background-color: #00000059;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 89%;
}

@keyframes beat {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

.beat-text {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(238, 203, 119);
    display: inline-block;
    animation: beat 1s infinite;
}

/* ---------------- */